## [HTML ==> DataFrame으로 저장]

(1) 모듈 로딩<hr>

In [1]:
import pandas as pd

(2) 데이터 준비

In [2]:
file="../DATA/test.html"

(3) html=> DataFrame으로 저장

In [8]:
import lxml

In [37]:
testDF[0].head()

   번호     이름  전공
0   1    홍길동  의적
1   2    마징가  로봇
2   4    베트맨  박쥐
3   5  스파이더맨  거미

In [36]:
testDF=pd.read_html(file,encoding='utf-8',header=0)
testDF

[   번호     이름  전공
 0   1    홍길동  의적
 1   2    마징가  로봇
 2   4    베트맨  박쥐
 3   5  스파이더맨  거미,
    과일명    가격  수량
 0   사과  1000  32
 1  바나나  3000  10
 2   수박  5800   2]

In [32]:
print(type(testDF))

<class 'list'>