(2.1) series 객체 생성

In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.Series

pandas.core.series.Series

2.1.1 클래스 및 인스턴스

In [6]:
pd.Series()

Series([], dtype: object)

2.1.2 Series 값 채우기`

In [7]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [8]:
pd.Series(ice_cream_flavors)
pd.Series(data=ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [12]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week=("Monday","Wenesday","Friday","Saturday")

In [13]:
pd.Series(ice_cream_flavors,days_of_week)

Monday       Chocolate
Wenesday       Vanilla
Friday      Strawberry
Saturday    Rum Raisin
dtype: object

In [14]:
# 매개변수의 순서가 바뀌더라도 동일한 시리즈 생성

In [15]:
pd.Series(days_of_week,ice_cream_flavors)

Chocolate       Monday
Vanilla       Wenesday
Strawberry      Friday
Rum Raisin    Saturday
dtype: object

In [17]:
bunch_of_bools=[True,False,False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [18]:
# 데이터 값 타입 강제 변환

In [19]:
lucky_numbers=[4,8,15,16,23,42]
pd.Series(lucky_numbers,dtype='float')

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

2.1.4. 결측값이 있는 시리즈 생성

In [21]:
temperatures=[94,88,np.nan,91]
pd.Series(data=temperatures)  # nan 타입 때문에 float64타입이 된다.

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

2.2 파이썬 객체에서 Series 생성

In [23]:
calorie_info={
    "Cerieal":125,
    "Chocolate Bar":406,
    "Ice Cream Sundae":342,
}
diet=pd.Series(calorie_info)
diet

Cerieal             125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [24]:
# 튜플을 저장하는 메서드를 생성하려면 튜플을 리스트로 감싸 주어야 한다.

In [25]:
rgb_colors=[(120,41,26),(196,165,45)]
pd.Series(data=rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [26]:
# 판다스는 집합과 같은 값을 저장하는 순서를 가정할 수 없다.
#따라서 집합이  포함된 경우 Series 생성자에 전달하기 전에 정렬된 자료구조로 변환이 필요하다.

In [28]:
my_set={"Ricky","Bobby"}
pd.Series(list(my_set))

0    Ricky
1    Bobby
dtype: object

In [29]:
#randint 함수를 사용하여 생성한 ndarray 전달.

In [31]:
random_data=np.random.randint(1,101,10)
random_data

array([73, 44, 92, 42, 13, 32, 41, 63, 98, 53])

In [32]:
pd.Series(random_data)

0    73
1    44
2    92
3    42
4    13
5    32
6    41
7    63
8    98
9    53
dtype: int32

2.3 시리즈의 속성

In [36]:
diet1=pd.Series(calorie_info)
diet1

Cerieal             125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [37]:
diet1.values

array([125, 406, 342], dtype=int64)

In [38]:
diet1.index

Index(['Cerieal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [40]:
diet1.shape  # 시리즈니까 열이 없음....

(3,)

In [41]:
diet1.shape[0]

3

In [42]:
diet1.size

3

In [44]:
diet1.is_unique # 중복 값이 없으면 True값 반환

True

2.4 첫번쨰 행과 마지막 행 검색

In [45]:
values=range(0,500,5)
nums=pd.Series(values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [46]:
nums.head

<bound method NDFrame.head of 0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64>

In [47]:
nums.tail

<bound method NDFrame.tail of 0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64>

In [48]:
# head()와 tail()은 기본인수가 5로 아무것도 지정하지 않았다면 5개의 행을 반환한다.

2.5.1 통계연산

In [50]:
numbers=pd.Series([1,2,3,np.nan,4,5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [51]:
numbers.count()  # null이 아닌 값의 개수 계산

5

In [52]:
numbers.sum()

15.0

In [53]:
numbers.sum(skipna=False) # skipna함수는 결측값을 포함한다....

nan

In [54]:
numbers.product()

120.0

In [55]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [56]:
numbers.cumsum(skipna=False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [57]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [58]:
numbers.mean()

3.0

In [59]:
numbers.median()

3.0

In [61]:
numbers.sample()

5    5.0
dtype: float64

In [62]:
s1=pd.Series(data=[5,np.nan,15],index=["A","B","C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [63]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [64]:
s1+3

A     8.0
B     NaN
C    18.0
dtype: float64

In [65]:
s1.add(3,fill_value=False)

A     8.0
B       3
C    18.0
dtype: object

2.5.3 브로드 캐스팅

In [66]:
# 여러 시리즈 객체 사이의 수학적 연산을 설명

In [67]:
s1=pd.Series([1,2,3],index=["A","B","C"])
s2=pd.Series([4,5,6],index=["A","B","C"])

In [68]:
s1+s2

A    5
B    7
C    9
dtype: int64

In [75]:
s1=pd.Series(data=[3,6,np.nan,12])
s2=pd.Series(data=[2,6,np.nan,12])
s1+s2

0     5.0
1    12.0
2     NaN
3    24.0
dtype: float64

In [77]:
s1.add(s2,fill_value=0)   # 왜 안되지?

0     5.0
1    12.0
2     NaN
3    24.0
dtype: float64

2.6  시리즈를 파이썬의 내장함수에 전달

In [81]:
cities=pd.Series(
    data=["San Francisco","Los Angeles","Las Vegas",np.nan]
)
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [79]:
#len 함수는 시리즈의 행의 개수를 반환한다. 개수에는 결측값이 포함된다

In [80]:
len(cities)

4

In [82]:
type(cities)

pandas.core.series.Series

In [83]:
# 이처럼 파이썬에서 쓰던 것도 판다스에서 변수에 넣어 내장함수로 표현 가능하다.

In [84]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [85]:
# 예제: values 속성과 짝을 지어 in키워드를 이용해 Series에 특정 값이 포함되어 있는지 확인할 수 있다.

In [86]:
"Las Vegas" in cities.values

True

In [87]:
"Paris" in cities.values

False

2.7 코딩 챌린지

In [88]:
superheros=[
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

In [89]:
strength_levels=(100,120,90,95,110,120)

In [90]:
#1. t슈퍼히어로 리스트 사용하여 새 series객체의 값을 채우세요

In [103]:
sh=pd.Series(superheros)
sh

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [93]:
#2.능력치 리스트 사용하여 새 series객체의 값을 채우세요

In [105]:
lv=pd.Series(strength_levels)
lv

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [96]:
#3.슈퍼히어로즈를 인덱스 레이블로, 스트랭스를 값으로 사용하여 시리즈를 생성 하고, 히어로즈 변수에 시리즈를 할당하시오.

In [107]:
heroes=pd.Series(data=strength_levels,index=superheros)  #주의: 시리즈 타입에 넣고 한번 더 넣으면 안됨.....
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [108]:
#4. heroes의 처음 2개 행을 추출

In [113]:
heroes[['Batman','Superman']]

Batman      100
Superman    120
dtype: int64

In [114]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [115]:
#5. heroes의 마지막 4개 행을 추출

In [116]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [117]:
#6. 고유한 값의 개수

In [120]:
heroes.nunique() #unique는 고유한 값 리스트가 나오고, nunique는 그 개수가 나온다.

5

In [121]:
#7.heroes의 평균 능력치 구하기

In [122]:
heroes.mean()

105.83333333333333

In [123]:
#8. 최대 최소 능력치 구하기

In [126]:
#최대:
max=heroes.max()

max

120

In [128]:
min=heroes.min()
min

90

In [129]:
heroes*2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [131]:
heroes.mul(2)

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [132]:
#10. 히어로즈 시리즈를 파이썬 딕셔너리로 변경하세요.

In [133]:
dictheroes=dict(heroes)

In [134]:
dictheroes

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}