3.1 read_csv로 데이터셋 가져오기

In [1]:
import pandas as pd

In [2]:
file='../DATA/pokemon.csv'

In [3]:
pokemonDF=pd.read_csv(file)

In [4]:
pokemonDF

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [5]:
# 2개의 열이 있지만, 하나의 시리즈만 나오고 있다.

방법: 데이터셋의 열 중 하나를 인덱스로 설정한다.

In [6]:
pokemonDF=pd.read_csv(file,index_col="Pokemon") # 컬럼을 인덱스로...

In [7]:
pokemonDF

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

squeeze 를 사용하여 다른 매개변수를 추가하고 인수로 True를 반환하기.

In [8]:
pokemonDF= pd.read_csv(file, index_col="Pokemon").squeeze()

In [9]:
file2='../DATA/google_stocks.csv'

In [10]:
googleDF=pd.read_csv(file2
           ).head()

In [11]:
googleDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      object
 1   Close   5 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes

In [12]:
#0번 인덱스를 date타입으로 바꿔야 한다.

In [13]:
googleDF=pd.read_csv(file2,parse_dates=["Date"]
           ).head().squeeze()

In [14]:
googleDF=pd.read_csv(file2,parse_dates=["Date"],index_col="Date"
           ).head().squeeze() 
#시리즈가 잘 안써진다....
googleDF

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [15]:
file4='../DATA/revolutionary_war.csv'

In [16]:
rwDF=pd.read_csv(file4
           )

In [17]:
rwDF=pd.read_csv(file4,index_col="Start Date",parse_dates=["Start Date"],usecols=["State","Start Date"]
           )

3.2 시리즈 정렬

In [18]:
googleDF.sort_values(ascending=True)

Date
2004-08-19    49.98
2004-08-24    52.24
2004-08-25    52.80
2004-08-20    53.95
2004-08-23    54.50
Name: Close, dtype: float64

In [19]:
pokemonDF.sort_values(ascending=True)

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [20]:
pokemonDF.sort_values(ascending=False)

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
                  ...
Kricketune              Bug
Cascoon                 Bug
Scatterbug              Bug
Kricketot               Bug
Grubbin                 Bug
Name: Type, Length: 809, dtype: object

In [21]:
# na_position 매개변수는 기본인수 last를 가지며, NAN값을 어디에 배치할지를 결정한다.

In [23]:
#Nan값 제거 방법=> dropna

#### 예) battles.dropna().sort_values()

In [24]:
pokemonDF.sort_index()

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [26]:
pokemonDF.sort_index(na_position="first").head() # na_position=> 결측값을 먼저 표시한 다음 정렬된 날짜/시간을 표시

Pokemon
Abomasnow      Grass / Ice
Abra               Psychic
Absol                 Dark
Accelgor               Bug
Aegislash    Steel / Ghost
Name: Type, dtype: object

In [27]:
pokemonDF.sort_index(ascending=False).head() #내림차순

Pokemon
Zygarde     Dragon / Ground
Zweilous      Dark / Dragon
Zubat       Poison / Flying
Zorua                  Dark
Zoroark                Dark
Name: Type, dtype: object

3.2.3 nsmallest와 nlargest 메서드 사용

In [28]:
googleDF.nlargest(n=5)

Date
2004-08-23    54.50
2004-08-20    53.95
2004-08-25    52.80
2004-08-24    52.24
2004-08-19    49.98
Name: Close, dtype: float64

In [29]:
googleDF.nsmallest(n=5)

Date
2004-08-19    49.98
2004-08-24    52.24
2004-08-25    52.80
2004-08-20    53.95
2004-08-23    54.50
Name: Close, dtype: float64

In [31]:
googleDF.nsmallest()  # 기본인수가 5

Date
2004-08-19    49.98
2004-08-24    52.24
2004-08-25    52.80
2004-08-20    53.95
2004-08-23    54.50
Name: Close, dtype: float64

In [32]:
# inplace=True를 사용하면 원본에 그대로 덮어쓰는 것이 가능

In [34]:
# battles.sort_values(inplace=True)

In [35]:
#복사본을 만드는 것이다...

3.4 value_counts 메서드로 값 계산하기

In [36]:
# value_counts를 이용하여 종류별 값의 개수를 찾아낼 수 있다.

In [38]:
pokemonDF.value_counts()

Type
Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: count, Length: 159, dtype: int64

In [39]:
len(pokemonDF.value_counts())

159

In [40]:
#unique를 이용해 중복 제외한 고유값을 찾아낼수 있다.

In [41]:
pokemonDF.unique

<bound method Series.unique of Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object>

In [44]:
pokemonDF.value_counts(normalize=True).head()   # 각 값들의 빈도를 반환.....

Type
Normal     0.080346
Water      0.075402
Grass      0.046972
Psychic    0.043263
Fire       0.037083
Name: proportion, dtype: float64

In [45]:
pokemonDF.value_counts(normalize=True).head()*100  #곱셈 연산 가능

Type
Normal     8.034611
Water      7.540173
Grass      4.697157
Psychic    4.326329
Fire       3.708282
Name: proportion, dtype: float64

In [46]:
(pokemonDF.value_counts(normalize=True).head()*100).round(2) #소수 2번째자리까지 반올림

Type
Normal     8.03
Water      7.54
Grass      4.70
Psychic    4.33
Fire       3.71
Name: proportion, dtype: float64

In [50]:
buckets=[0,200,400,600,800,1000,1200,1400]
googleDF.value_counts(bins=buckets)

Close
(-0.001, 200.0]     5
(200.0, 400.0]      0
(400.0, 600.0]      0
(600.0, 800.0]      0
(800.0, 1000.0]     0
(1000.0, 1200.0]    0
(1200.0, 1400.0]    0
Name: count, dtype: int64

In [47]:
print(googleDF.max(),googleDF.min())

54.5 49.98

In [49]:
googleDF.value_counts().sort_index()  구간 기준 정렬...

Close
49.98    1
52.24    1
52.80    1
53.95    1
54.50    1
Name: count, dtype: int64

3.5 apply메서드를 이용해서 모든 시리즈 값에 대한 함수 호출

In [51]:
funcs=[len,max,min]

In [52]:
for i in funcs:
    print(i(googleDF))

5
54.5
49.98

In [54]:
googleDF.apply(func=round)  #round함수를 모든 값에 적용.....

Date
2004-08-19    50
2004-08-20    54
2004-08-23    54
2004-08-24    52
2004-08-25    53
Name: Close, dtype: int64

In [59]:
def single_or_multi(pokemon_type):
    if "/" in pokemon_type:
        return "Multi"
    return "Single"

In [60]:
 pokemonDF.apply(single_or_multi)

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object

In [61]:
import datetime as dt

In [63]:
today=dt.datetime(2020,12,26)
today.strftime("%A")

'Saturday'

3.6 코딩 챌린지

In [65]:
filecode='../DATA/revolutionary_war.csv'

In [67]:
revolDF=pd.read_csv(filecode)

In [68]:
revolDF

                                Battle  Start Date          State
0                         Powder Alarm    9/1/1774  Massachusetts
1    Storming of Fort William and Mary  12/14/1774  New Hampshire
2     Battles of Lexington and Concord   4/19/1775  Massachusetts
3                      Siege of Boston   4/19/1775  Massachusetts
4                   Gunpowder Incident   4/20/1775       Virginia
..                                 ...         ...            ...
227                Siege of Fort Henry   9/11/1782       Virginia
228         Grand Assault on Gibraltar   9/13/1782            NaN
229          Action of 18 October 1782  10/18/1782            NaN
230          Action of 6 December 1782   12/6/1782            NaN
231          Action of 22 January 1783   1/22/1783       Virginia

[232 rows x 3 columns]

In [69]:
revolDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Battle      232 non-null    object
 1   Start Date  228 non-null    object
 2   State       162 non-null    object
dtypes: object(3)
memory usage: 5.6+ KB

In [77]:
days_of_war=pd.read_csv("../DATA/revolutionary_war.csv",usecols=["Start Date"],parse_dates=["Start Date"]).squeeze()

0     1774-09-01
1     1774-12-14
2     1775-04-19
3     1775-04-19
4     1775-04-20
         ...
227   1782-09-11
228   1782-09-13
229   1782-10-18
230   1782-12-06
231   1783-01-22
Name: Start Date, Length: 232, dtype: datetime64[ns]

In [81]:
def day_of_week(date):
    return date.strftime("%A")

In [83]:
# days_of_war.apply(day_of_week)