# [DataFrame 살펴보기 ]
* 데이터를 테이블 즉,표 형태로 저장하는 자료구조
* 구성:행+열
* 생성:pandas.DataFrame() 생성자 메서드

(1) 모듈로딩-------------------------------

In [49]:
from pandas import DataFrame
import random

(2) 데이터 준비-------------------------

In [50]:
data=[[11,22,33],[44,55,66],[77,88,99], [x for x in random.sample(range(10,30),3)]]

(3) DataFrame으로 저장 즉,DataFrame 객체 생성 ----------

In [51]:
df1= DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99
3  13  15  10

(4) DataFrame의 속성 읽기 => 객체변수명.속성명 --------

In [52]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [53]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [54]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99],
       [13, 15, 10]], dtype=int64)

In [55]:
df1.shape

(4, 3)

In [56]:
#데이터의 차원정보 n-dimension
df1.ndim

2

In [57]:
#컬럼별 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기===> 행과 열 지정===> 1개 원소

- 컬럼 즉 열 (column) 읽기==> 객체변수명[인덱스]

In [58]:
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99
3  13  15  10

In [59]:
df1[0]

0    11
1    44
2    77
3    13
Name: 0, dtype: int64

In [60]:
df1[2]

0    33
1    66
2    99
3    10
Name: 2, dtype: int64

In [61]:
## 컬럼변경 ============
df1.columns=[0,1,2]
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99
3  13  15  10

In [62]:
df1[0]

0    11
1    44
2    77
3    13
Name: 0, dtype: int64

In [63]:
# 컬럼 레이블 설정 후 정수 인덱스이 불가!!
#df1.0

- 컬럼 즉 행(row) 읽기==> 방법 2가지
    * 위치 인덱스로 읽기: 객체 변수명.iloc[인덱스]
    * 레이블 인덱스로 읽기:객체 변수명.loc[인덱스]

In [64]:
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99
3  13  15  10

In [65]:
#df1.index=['one','two']

In [66]:
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99
3  13  15  10

In [67]:
df1.iloc[0]

0    11
1    22
2    33
Name: 0, dtype: int64

In [68]:
df1.index = ['one','two','three', 'four']

### (6)모든 원소를 한번에 한개씩만 출력

In [69]:
df1

        0   1   2
one    11  22  33
two    44  55  66
three  77  88  99
four   13  15  10

* 객체변수명.iloc[행인덱스,열인덱스]/객체변수명.loc[행레이블,열인덱스 or 열레이블]

In [70]:
df1.iloc[0,0],df1.iloc[0,2],df1.iloc[1,0],df1.iloc[1,2]

(11, 33, 44, 66)

In [71]:
df1.loc['one',0],df1.loc['one',2],df1.loc['two',0],df1.loc['two',1]

(11, 33, 44, 55)

In [72]:
# 컬럼명 변경 => 객체변수명.coLumns=새로운컴럼명
df1.columns=['A','B','C']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99
four   13  15  10

In [73]:
df1.loc['one','B'],df1.loc['two','C']

(22, 66)

In [74]:
df1.iloc[0,1],df1.iloc[1,2]

(22, 66)

In [75]:
df1.iloc[0][1],df1.iloc[1][2]

(22, 66)

In [76]:
zero=df1.iloc[0]
zero

A    11
B    22
C    33
Name: one, dtype: int64

In [77]:
b=df1['B']
b

one      22
two      55
three    88
four     15
Name: B, dtype: int64

In [78]:
df1.index,df1.columns

(Index(['one', 'two', 'three', 'four'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [79]:
df1.shape[0],df1.shape[1]

(4, 3)

-iloc를 활용한 모든 원소 출력 ==> 행과 열의 번호

In [80]:
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row,col,df1.iloc[row,col])

0
0 0 11
0 1 22
0 2 33
1
1 0 44
1 1 55
1 2 66
2
2 0 77
2 1 88
2 2 99
3
3 0 13
3 1 15
3 2 10

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름

In [82]:
df1.index,df1.columns

(Index(['one', 'two', 'three', 'four'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [83]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print('----',col,df1.loc[row,col])

one
---- A 11
---- B 22
---- C 33
two
---- A 44
---- B 55
---- C 66
three
---- A 77
---- B 88
---- C 99
four
---- A 13
---- B 15
---- C 10

#### [문제] one,three 행을 선택 후 저장

In [84]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99
four   13  15  10

In [85]:
onethreeDF=df1.loc[['one','three']]
type(onethreeDF),onethreeDF

(pandas.core.frame.DataFrame,
         A   B   C
 one    11  22  33
 three  77  88  99)