### [Series 객체 원소 인덱싱 & 슬라이싱]

In [9]:
import pandas as pd

(2) 데이터 준비---------------------------

In [10]:
datas={'name' : '홍길동' , 'age':12 , 'job': '도적'}

(3) Series 객체 생성--------------------

In [11]:
sr1 = pd.Series(datas)

In [12]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

In [13]:
#이름과 직업데이터 읽기 ===> 원소 단위 
# sr1['name'],sr1['job'],sr1[0],sr1[2],type(sr1[0])

('홍길동','도적','홍길동','도적')

In [14]:
a=[1,2,3]
b=(11,22,33)

In [15]:
a[0],type(a[0])

(1, int)

In [16]:
# #이름과 직업데이터 읽기 ===> 리스트 단위로 읽기
sr1[['name','job']]

name    홍길동
job      도적
dtype: object

(4) 슬라이싱으로 원소 읽기---------------------------

In [17]:
#dn
sr1[:2]

name    홍길동
age      12
dtype: object