[다양한 Series 객체 생성]

###(1)모듈 로딩

Series 객체 생성 -방법1
Series(data=index=지정)

In [12]:
import pandas as pd

In [10]:
sr1=pd.Series([11,22,33],index=['one','two','three'])

In [11]:
sr1

one      11
two      22
three    33
dtype: int64

Series 객체 생성 -방법2

In [15]:
sr1=pd.Series([11,22,33],index=['one','two','three'],name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

Series 객체 생성 -방법3

sr1=pd.Series([11,22,33],index=['one','two','three'],name='jumsu',dtype='unit8')
sr1

Series 객체 생성 -방법4

In [33]:
# data= {'name':'홍길동','age':12,'job'='도적'}

# sr1= pd.Series(data)
# sr1

In [34]:
# 속성 확인하기
print(sr1.index,sr1.values,sep='\n')

Index(['one', 'two', 'three'], dtype='object')
[11 22 33]

In [32]:
sr1.index,sr1.values

(Index(['one', 'two', 'three'], dtype='object'),
 array([11, 22, 33], dtype=int64))

Series 객체 생성 -방법4=> 저장되는 데이터 set

In [43]:
data= {'홍길동',12,'도적'}
      # 순서 없는 데이터,중복 불허
    #형변환 후 객체 생성 가능
sr1= pd.Series(list(data),index=[1,2,3])
sr1

1     도적
2    홍길동
3     12
dtype: object